//COLORS
$color-primary: #2e8ebb; 
$color-grey-light: #f7f7f7; 
$color-black: rgba(0, 0, 0, 0.377); 


//GRID
$grid-width: 65rem; 
$gutter-vertical: 4rem; 
$gutter-vertical-small: 2rem; 
$gutter-horizontal: 6rem; 