//COLORS
$color-primary: #2e8ebb;
$color-secondary: #507787;
$color-dark: #102b3f;
$color-grey-light: #f7f7f7;
$color-black: rgb(13, 13, 13);
$color-grey: rgb(24, 24, 24);

//GRID
$grid-width: 86rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 6rem;
