.header {
  background-color: $color-black;
  height: 10rem;
  position: relative;

  &__logo-box {
    position: absolute;
    margin: auto;
    top: 0rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  &__logo {
    height: 10rem;
    filter: drop-shadow(3px 8px 5px $color-black);
  }
}
