html .document {
    margin: 0;
}

header {
    background: red;
}

.container {
    display: flex;
    
    
}

#nav-primary{
    list-style-type: none;
    display: flex;
}

.primary {
    
    background-color: blue;

}




