@import url("https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 60%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.photo {
  position: relative; }
  .photo__main {
    width: 95%;
    border-radius: 4px;
    float: right; }

.icon {
  position: relative;
  display: inline-block; }
  .icon-1--animated {
    animation: moveInBottom 1s ease-out 0.45s;
    animation-fill-mode: backwards; }
  .icon-2--animated {
    animation: moveInBottom 1s ease-out 0.45s;
    animation-fill-mode: backwards; }

.fab {
  font-size: 4rem; }

.fas {
  font-size: 4rem; }

.fa-html5 {
  color: #e34f26; }

.fa-css3-alt {
  color: #379ad6; }

.fa-sass {
  color: #cf649a; }

.fa-js {
  color: #f1e01c; }

.fa-node {
  color: #7fc728; }

.fa-npm {
  color: #c23c3c; }

.fa-git-alt {
  color: #e94f32; }

.fa-bootstrap {
  color: #533b78; }

.fa-react {
  color: #61dbfb; }

.fa-database {
  color: #3fa037; }

.fa-github-square {
  color: #f7f7f7; }

.fa-envelope-square {
  color: #f7f7f7; }

.container__project {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  height: 30rem;
  width: 75%;
  filter: drop-shadow(3px 8px 5px #0d0d0d);
  background: #f7f7f7;
  transition-duration: .15s; }
  .container__project:hover {
    transform: translate(0.2rem, -0.2rem); }

a {
  text-decoration: none;
  color: black; }

.mountain {
  position: relative;
  height: 40rem;
  width: 100%;
  margin-top: -8rem;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%); }
  .mountain__bottom {
    position: absolute;
    height: inherit;
    width: inherit;
    background: black;
    clip-path: polygon(0 90%, 100% 65%, 100% 100%, 0 100%); }
  .mountain__1 {
    position: absolute;
    height: inherit;
    width: inherit;
    background: #507787;
    clip-path: polygon(16% 30%, 0% 50%, 0% 90%, 100% 70%); }
  .mountain__2 {
    position: absolute;
    height: inherit;
    width: inherit;
    background: #2e8ebb;
    clip-path: polygon(12% 45%, 0% 60%, 0% 90%, 80% 75%); }
  .mountain__3 {
    position: absolute;
    height: inherit;
    width: inherit;
    background: #102b3f;
    clip-path: polygon(75% 25%, 40% 80%, 100% 70%); }
  .mountain__4 {
    position: absolute;
    height: inherit;
    width: inherit;
    background: #507787;
    clip-path: polygon(60% 27%, 40% 82%, 100% 70%); }
  .mountain__5 {
    position: absolute;
    height: inherit;
    width: inherit;
    background: #2e8ebb;
    clip-path: polygon(39% 35%, 10% 90%, 100% 70%); }
  .mountain__6 {
    position: absolute;
    height: inherit;
    width: inherit;
    background: #102b3f;
    clip-path: polygon(28% 50%, 0% 70%, 0% 98%, 100% 73%); }
  .mountain__7 {
    position: absolute;
    height: inherit;
    width: inherit;
    background: #507787;
    clip-path: polygon(85% 30%, 40% 88%, 100% 73%, 100% 60%); }

.header {
  background-color: #0d0d0d;
  height: 10rem;
  position: relative; }
  .header__logo-box {
    position: absolute;
    margin: auto;
    top: 0rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .header__logo {
    height: 10rem;
    filter: drop-shadow(3px 8px 5px #0d0d0d); }

.introduction {
  display: flex;
  width: 66%;
  margin: 0 auto; }
  .introduction .introImage {
    width: 50%; }
  .introduction .introText {
    width: 50%; }
  .introduction .photo {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%; }
  .introduction .phototext {
    position: absolute;
    text-transform: uppercase;
    font-size: 3vw;
    color: #f7f7f7;
    top: 62%;
    left: 4%; }
  @media (min-width: 320px) and (max-width: 480px) {
    .introduction {
      flex-direction: column; }
      .introduction .introImage {
        width: 100%; }
      .introduction .introText {
        width: 100%; }
      .introduction h1 {
        position: absolute;
        top: 24rem;
        z-index: 1;
        color: white; } }
  @media (min-width: 480px) and (max-width: 1200px) {
    .introduction h1 {
      top: 24rem;
      font-size: 3rem;
      left: 17rem; } }

.section-info {
  padding-top: 4rem;
  background-color: #181818;
  /* h1 {
    text-align: left;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-family: $font-title;
  } */ }
  .section-info p {
    text-align: justify;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif; }

#projectAnchor p {
  font-weight: bold;
  color: #102b3f; }
  #projectAnchor p:focus, #projectAnchor p:hover {
    color: #2e8ebb; }

.section-em {
  color: #2e8ebb; }

.section-tech {
  border-radius: 4px;
  background-color: #f7f7f7;
  width: 20rem; }
  .section-tech h1 {
    text-align: center;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem; }
  .section-tech p {
    font-weight: bold; }

.section-projects h1 {
  text-align: center;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem; }

#tech {
  position: relative;
  left: 7rem;
  margin-right: 1rem;
  text-align: center; }
  #tech p {
    text-align: center; }

.project__picture {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  border-radius: 4px;
  background-size: cover;
  height: 10rem; }

.project__picture--1 {
  background-image: url("../img/Setlist.png"); }

.project__picture--2 {
  background-image: url("../img/Pathfinder.png"); }

.project__picture--3 {
  background-image: url("../img/moviechat.png"); }

.project__picture--4 {
  background-image: url("../img/hero.png"); }

.project__description h2 {
  color: #2e8ebb;
  text-align: center;
  font-size: 2.5rem; }

.project__description p {
  text-align: left;
  font-size: 1.3rem;
  padding: 1rem; }

.footer {
  position: relative;
  height: 14rem;
  background: black; }
  .footer h2 {
    font-size: 2rem;
    letter-spacing: .2rem;
    padding: 1rem;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    color: #f7f7f7;
    text-align: center; }

.contact {
  position: absolute;
  margin: auto;
  left: 50%;
  width: 10%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .contact-icon {
    display: flex;
    justify-content: space-around; }

.row {
  width: 86rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem) / 4.5); }

.icon {
  width: 86rem;
  margin: 0 auto; }
  .icon:not(:last-child) {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .icon:not(:last-child) {
        margin-bottom: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .icon {
      max-width: 50rem;
      padding: 0 3rem; } }
  .icon::after {
    content: "";
    clear: both;
    display: table; }
  .icon [class^="col-"] {
    float: left; }
    .icon [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .icon [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .icon [class^="col-"] {
        width: 14% !important; } }
  .icon .icon-1-of-5 {
    width: calc((100% - 4 * 6rem) / 4.5); }

body {
  background-color: #f7f7f7;
  overflow-x: hidden; }
