.container {
  &__project {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    height: 30rem;
    width: 75%;
    filter: drop-shadow(3px 8px 5px $color-black);
    background: $color-grey-light;
    transition-duration: 0.15s;

    &:hover {
      transform: translate(0.2rem, -0.2rem);
    }
  }
}

a {
  text-decoration: none;
  color: black;
}

#rectangle {
  width: 10rem;
  height: 1.3rem;
  background: red;
}
