.icon{
    position: relative;
    display: inline-block;

    &-1 {
        &--animated {
            animation: moveInBottom 1s ease-out .45s; 
            animation-fill-mode: backwards; 
        }
    }

    &-2 {
        &--animated {
            animation: moveInBottom 1s ease-out .45s; 
            animation-fill-mode: backwards; 
        }
    }

}

.fab {
    font-size: 4rem;
}

.fa {

    &-html5 {
        color: #e34f26;
    }
    &-css3-alt {
        color: #379ad6;
    }
    &-sass {
        color: #cf649a;
    }
    &-js {
        color: #f1e01c;
    }
    &-node {
        color: #7fc728;
    }
    &-npm {
        color: #c23c3c;
    }
    &-git-alt {
        color: #e94f32;
    }
    &-bootstrap {
        color: #533b78;
    } 

    &-github-square {
        color: $color-grey-light;
    }
}