.icon{
    position: relative;
    display: inline-block;

}

.fab {
    font-size: 4rem;
}

.fa {

    &-html5 {
        color: orange;
    }
    &-css3-alt {
        color: plum;
    }
    &-sass {
        color: yellow;
    }
    &-js {
        color: blue;
    }
    &-node {
        color: chartreuse;
    }
    &-npm {
        color: coral;
    }
    &-git-alt {
        color: floralwhite;
    }
    &-bootstrap {
        color: fuchsia;
    } 
}