.icon {
  position: relative;
  display: inline-block;

  &-1 {
    &--animated {
      animation: moveInBottom 1s ease-out 0.45s;
      animation-fill-mode: backwards;
    }
  }

  &-2 {
    &--animated {
      animation: moveInBottom 1s ease-out 0.45s;
      animation-fill-mode: backwards;
    }
  }
}

.fab {
  font-size: 4rem;
}

.fas {
  font-size: 4rem;
}

.fa {
  &-github-square {
    color: $color-grey-light;
  }

  &-envelope-square {
    color: $color-grey-light;
  }
}
