.mountain {
    position: relative;
    height: 40rem; 
    width: 100%;
    background: rgb(238,238,238);
    background: linear-gradient(180deg, rgba(238,238,238,0.0844712885154062) 0%, rgba(0,212,255,0.41780462184873945) 83%, rgba(74,178,232,0.36738445378151263) 100%); 
    clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);

    &__bottom {
        position: absolute;
        height: inherit;
        width: inherit;
        background: black;
        clip-path: polygon(0 90%, 100% 65%, 100% 100%, 0 100%);
    }

  



     &__1 {
        position: absolute;
        height: inherit;
        width: inherit;
        background: limegreen;
        clip-path: polygon(16% 30%, 0% 50%, 0% 90%, 100% 70%);
    }

    &__2 {
        position: absolute;
        height: inherit;
        width: inherit;
        background: lightblue;
        clip-path: polygon(12% 45%, 0% 60%, 0% 90%, 80% 75%);
    }

    &__3 {
        position: absolute;
        height: inherit;
        width: inherit;
        background: orange;
        clip-path: polygon(75% 25%, 40% 80%, 100% 70%);
    }

    &__4 {
        position: absolute;
        height: inherit;
        width: inherit;
        background: purple;
        clip-path: polygon(60% 27%, 40% 82%, 100% 70%);
    }

    &__5 {
        position: absolute;
        height: inherit;
        width: inherit;
        background: red;
        clip-path: polygon(39% 35%, 10% 90%, 100% 70%);
    }

    &__6 {
        position: absolute;
        height: inherit;
        width: inherit;
        background: rgb(231, 221, 72);
        clip-path: polygon(28% 50%, 0% 70%, 0% 98%, 100% 73%);
    }

     &__7 {
        position: absolute;
        height: inherit;
        width: inherit;
        background: coral;
        clip-path: polygon(85% 30%, 40% 88%, 100% 73%, 100% 60%);
    } 

   
}